﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>M-Akiba Online</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <!-- Favicons -->
    <link href="~/Images/favicon.ico" rel="icon">
    <link href="~/Images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Reveal/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Reveal/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Reveal/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Reveal/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">

    <!--==========================
      Top Bar
    ============================-->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="#"></a>
                <i class="fa fa-phone"></i>

            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" style="margin-bottom:10%" class="pull-left">
              
                <img class="img-responsive" style="height:100px;width:auto" src="~/Images/makiba.png" />
              
            </div>
       
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("About Us", "About", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Why Us", "WhyUs", "Home")</li>

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Services", "Services", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Team", "Team", "Home")</li>*@

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Login", "Index", "Account")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Guest/Register","Register", "Home")</li>

                   
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">

        <div class="intro-content">
            @*<h2 style="margin-top:5%;color:#4cff00">M-Akiba<span style="color:black">Online</span><br><span style="color:#dba40d">Portal!</span></h2>*@
            <div  style="margin-top:5%;color:#4cff00">

                <a href="~/Account/Index" class="btn-projects scrollto" style="width:150px;background-color:white;color:black;border:solid;border-width:thin">Login</a>
                <a href="~/Home/Register" class="btn-projects scrollto" style="width:150px;background-color:white;color:black;border:solid;border-width:thin">Register</a>

            </div>
        </div>
        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('~/Images/bg.png');"></div>
            <div class="item" style="background-image: url('~/Images/bg.png');"></div>
            <div class="item" style="background-image: url('~/Images/bg.png');"></div>
            <div class="item" style="background-image: url('~/Images/bg.png');"></div>
            <div class="item" style="background-image: url('~/Images/bg.png');"></div>
        </div>


    </section><!-- #intro -->

    <main id="main">
        @RenderBody()
        <hr />
    
        </main>
    <footer id="footer">
        <div class="container">
            <div class="copyright" style="color:#fff">
                &copy; Copyright <strong>ESCROW SYSTEMS</strong>. All Rights Reserved
            </div>
            <div class="credits">
             
            </div>
        </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top" style="background-color:black"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/Reveal/lib/jquery/jquery.min.js"></script>
    <script src="~/Reveal/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Reveal/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Reveal/lib/easing/easing.min.js"></script>
    <script src="~/Reveal/lib/superfish/hoverIntent.js"></script>
    <script src="~/Reveal/lib/superfish/superfish.min.js"></script>
    <script src="~/Reveal/lib/wow/wow.min.js"></script>
    <script src="~/Reveal/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Reveal/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="~/Reveal/lib/sticky/sticky.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ9a-v6VEbXvDQsTv_1AHg9UO7AG3AWxk&sensor=false"></script>*@
    <!-- Contact Form JavaScript File -->
    <script src="~/Reveal/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Reveal/js/main.js"></script>


</body>
</html>
