﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
    <!-- Title Page-->
    <title>M-Akiba Online</title>
    <!-- Fontfaces CSS-->
    <link href="~/Cool/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
    <link href="~/Cool/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Cool/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Cool/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Cool/css/theme.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link href="~/Images/favicon.ico" rel="icon">
    <link href="~/Images/apple-touch-icon.png" rel="apple-touch-icon"> @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/themes/base/css")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
</head>



<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="~/User/Index">
                            <img style="height:100px;width:auto" src="~/Images/makiba.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">

                        <li>
                            <a href="~/User/MyAccount">
                                <i class="fas fa-chart-bar"></i>My Account
                            </a>
                        </li>
                        <li>
                            <a href="~/User/PrimaryMarket">
                                <i class="fas fa-table"></i>Primary Market
                            </a>
                        </li>
                        <li>
                            <a href="~/User/SecondaryBuy">
                                <i class="far fa-check-square"></i>Secondary Buy
                            </a>
                        </li>
                        <li>
                            <a href="~/User/SecondarySell">
                                <i class="fas fa-calendar-alt"></i>Secondary Sell
                            </a>
                        </li>
                        <li>
                            <a href="~/User/Portfolio">
                                <i class="fas fa-map-marker-alt"></i>Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="~/User/Events">
                                <i class="fas fa-map-marker-alt"></i>Events
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Statements
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/User/AccountStatement">
                                        Account Statement
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Accrued  Interest
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Account/LogOut">
                                <i class="fas fa-sign-out"></i>Log Out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="~/User/Index">
                    <img style="height:100px;width:auto" src="~/Images/makiba.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">

                        <li>
                            <a href="~/User/MyAccount">
                                <i class="fas fa-chart-bar"></i>My Account
                            </a>
                        </li>
                        <li>
                            <a href="~/User/PrimaryMarket">
                                <i class="fas fa-table"></i>Primary Market
                            </a>
                        </li>
                        <li>
                            <a href="~/User/SecondaryBuy">
                                <i class="far fa-check-square"></i>Secondary Buy
                            </a>
                        </li>
                        <li>
                            <a href="~/User/SecondarySell">
                                <i class="fas fa-calendar-alt"></i>Secondary Sell
                            </a>
                        </li>
                        <li>
                            <a href="~/User/Portfolio">
                                <i class="fas fa-map-marker-alt"></i>Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="~/User/Events">
                                <i class="fas fa-map-marker-alt"></i>Events
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Statements
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="~/User/AccountStatement">
                                        Account Statement
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Accrued  Interest
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="~/Account/LogOut">
                                <i class="fas fa-sign-out"></i>Log Out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                            
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/images/myaccount.png" alt="" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">@User.FirstName @User.LastName</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/images/myaccount.png" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">@User.FirstName @User.LastName</a>
                                                    </h5>
                                                    <span class="email">@User.CDSNumber</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="~/User/MyAccount">
                                                        <i class="zmdi zmdi-account"></i>Account
                                                    </a>
                                                </div>
                                          
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="~/Account/LogOut">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                        <hr />
                    </div>
                </div>
                <!-- END MAIN CONTENT-->
                <!-- END PAGE CONTAINER-->
            </div>
        </div>
        <!-- Jquery JS-->
        <script src="~/Cool/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/Cool/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/Cool/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/Cool/vendor/slick/slick.min.js">
        </script>
        <script src="~/Cool/vendor/wow/wow.min.js"></script>
        <script src="~/Cool/vendor/animsition/animsition.min.js"></script>
        <script src="~/Cool/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" ></script>
        <script src="~/Cool/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/Cool/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/Cool/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/Cool/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/Cool/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/Cool/vendor/select2/select2.min.js">
        </script>
        <!-- Main JS-->
        <script src="~/Cool/js/main.js"></script>
</body>
</html>
<!-- end document-->
