﻿@{
    ViewBag.Title = "Home Page";
}
<section id="services">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><img width="32" height="32" src="~/Images/myaccount.png" /></div>
                    <h4 class="title" style="color:#FFD700"><a href="" style="color:#FFD700">Purpose</a></h4>
                    <p class="description" style="color:black">
                        The purpose of floating the M-Akiba bond is to finance Government development expenditure / budgetary support. Tenure of the bond is 3 years with a target of Kshs. 150 million
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><img width="32" height="32"  src="~/Images/primarymarket.png" /></div>
                    <h4 class="title" style="color:#FFD700"><a href="" style="color:#FFD700">Minimum Investment</a></h4>
                    <p class="description" style="color:black">

                        Initial minimum investment amount per account is Kshs. 3,000. The M-Akiba bond is guaranteed by the Government of Kenya.

                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><img width="32" height="32"  src="~/Images/buy.png" /></div>
                    <h4 class="title" style="color:#FFD700"><a href="" style="color:#FFD700">
    Platform
</a></h4>
                    <p class="description" style="color:black">
                        It’s a Mobile Traded Bond – all activities relating to registration, trading, settlement will be via mobile platform. By dialing USSD code *889#. Maximum investment per account / per day – Kshs. 140,000.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><img width="32" height="32"  src="~/Images/secondaysell.png" /></div>
                    <h4 class="title" style="color:#FFD700"><a href="" style="color:#FFD700">Payment</a></h4>
                    <p class="description" style="color:black">
                        The coupon shall be paid directly to the phone automatically on the maturity dates. This will be the case even in instances where the coupon to be paid exceeds the Kshs. 140,000 daily limit. The M-Akiba bond is tax-free. Interest rate of the bond is 10% per annum but will be payable semi-annually after every 6 months.
                    </p>
                </div>
            </div>

        </div>

    </div>

</section><!-- #services -->

