﻿@model  GwendNyadhi.Models.LoginViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
@*<script src="http://code.angularjs.org/1.2.6/angular.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/angular/app/investor.js"></script>
<section id="contact" class="wow fadeInUp" ng-app="validationApp" ng-controller="RegisterController">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>

    <div class="container">
        <form name="Register" ng-submit="submitForm(tblRegister.$valid)" novalidate>
            <div id="errormessage" style="color:red"></div>

            <div class="form-row">
                <div class="form-group col-md-6">

                    <input type="text" id="Surname" ng-model="Surname" placeholder="Surname*" class="form-control">
                    <span style="color:red" id="Surnameerror" name="Surnameerror" ng-bind="Surnameerror" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" id="OtherNames" ng-model="OtherNames" placeholder="OtherNames*" class="form-control">
                    <span style="color:red" id="OtherNameserror" name="OtherNameserror" ng-bind="OtherNameserror" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <input type="text" id="IDNumber" ng-model="IDNumber" placeholder="IDNumber*" class="form-control">
                    <span style="color:red" id="IDNumbererror" name="IDNumbererror" ng-bind="IDNumbererror" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" id="TelephoneNumber" ng-model="TelephoneNumber" placeholder="TelephoneNumber*(format 254779627951)" class="form-control">
                    <span style="color:red" id="TelephoneNumbererror" name="TelephoneNumbererror" ng-bind="TelephoneNumbererror" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <input type="date" id="DOB" ng-model="DOB" placeholder="DOB*" class="form-control">
                    <span style="color:red" id="DOBerror" name="DOBerror" ng-bind="DOBerror" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" id="Country" ng-model="Country" placeholder="Country*" class="form-control">
                    <span style="color:red" id="Countryerror" name="Countryerror" ng-bind="Countryerror" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">

                    <input type="text" id="Nationality" ng-model="Nationality" placeholder="Nationality*" class="form-control">
                    <span style="color:red" id="Nationalityerror" name="Nationalityerror" ng-bind="Nationalityerror" />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" id="PostalCode" ng-model="PostalCode" placeholder="PostalCode*" class="form-control">
                    <span style="color:red" id="PostalCodeerror" name="PostalCodeerror" ng-bind="PostalCodeerror" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    Gender
                    <input type="radio" class="radio" ng-model="gender" value="Male">Male
                    <input type="radio" class="radio" ng-model="gender" value="Female">Female
                    <span style="color:red" id="gendererror" name="gendererror" ng-bind="gendererror" />
                </div>
                <div class="form-group col-md-6">
                    Resident
                    <input type="radio" class="radio" ng-model="resident" value="Yes">Yes
                    <input type="radio" class="radio" ng-model="resident" value="No">No
                    <span style="color:red" id="residenterror" name="residenterror" ng-bind="residenterror" />
                </div>

            </div>
            <div class="text-center"><button ng-disabled="isDisabled" type="submit" class="btn btn-info" style="width:150px;background-color:white;color:black;border:solid;border-width:thin">Submit</button></div>
            <br />



        </form>

    </div>
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal"></button>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>


                    <h4 class="modal-title" style="font-weight:bold;color:black">M-Akiba Online Notification !</h4>
                </div>
                <div class="modal-body" style="color:black">
                      <p> <span style="color:black" id="imessage" name="imessage" ng-bind="imessage" /></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>
   
</section><!-- #contact -->
