﻿@model GoodFellowWeb.Models.Posting


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">Account Statement</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </h3>
                            </div>
                            <hr>
                            <form action="" novalidate="novalidate">
                                <table class="table table-responsive">

                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "" })


                                                @Html.JQueryUI().DatepickerFor(model => model.From, new { @class = "form-control" }).ShowButtonPanel(false).ChangeYear(true).ChangeMonth(true).NextText("").PrevText("")
                                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })

                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "" })
                                                @Html.JQueryUI().DatepickerFor(model => model.To, new { @class = "form-control" }).ShowButtonPanel(false).ChangeYear(true).ChangeMonth(true).NextText("").PrevText("")
                                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })

                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.Label("Issue", htmlAttributes: new { @class = "" })
                                               @Html.DropDownListFor(model => model.company, (IEnumerable<SelectListItem>)ViewBag.Criteria, "Select Issue", new { id = "criteria", @class = "form-control", @style = "border:solid;border-width:thin;width:200px" })
                                               @Html.ValidationMessageFor(model => model.company, "", new { @class = "text-danger" })
                                              
                                            </div>
                                        </td>
                                    </tr>


                                </table>
                                <div>
                                    <button id="payment-button" style="background-color:white;color:black;width:150px" value="Submit" type="submit" class="btn btn-lg btn-info btn-block"> View Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


