﻿@model GoodFellowWeb.Models.Posting



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row" style="margin-top:20%">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Accrued Interest Statement</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </h3>
                            </div>
                            <hr>
                            <form action="" novalidate="novalidate">
                                <table class="table table-responsive">

                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "" })


                                                @Html.JQueryUI().DatepickerFor(model => model.From, new { @class = "form-control" }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })

                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "" })
                                                @Html.JQueryUI().DatepickerFor(model => model.To, new { @class = "form-control" }).ShowButtonPanel(false).ChangeYear(true).ChangeMonth(true)
                                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })

                                            </div>
                                        </td>
                                    </tr>


                                </table>
                                <div>
                                    <button id="payment-button" style="background-color:white;color:black" value="Submit" type="submit" class="btn btn-lg btn-info btn-block"> View Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}


