﻿<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
@*<script src="http://code.angularjs.org/1.2.6/angular.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/angular/app/investor.js"></script>
<div class="row" ng-app="validationApp" ng-controller="EventsController">
    <div class="col-lg-8">
        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
            <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                <div class="bg-overlay bg-overlay--blue"></div>
                <h3>
                    <i class="zmdi zmdi-account-calendar"></i>Historical Events
                </h3>
             
            </div>
            <div class="au-task js-list-load">
                 <div class="au-task-list js-scrollbar3"  >
                    <div class="au-task__item au-task__item--danger" ng-repeat="events in eventslist">
                        <div class="au-task__item-inner">
                            <span class="time">Start Date {{events.StartDate}}</span>
                            <span class="time">End Date   {{events.EndDate}}</span>
                            <hr />
                            <h4 class="task">
                                <a href="#">Issue {{events.Security_Description}}</a>
                            </h4>
                            <h4 class="task">
                                <a href="#">Shares {{events.Shares}}</a>
                            </h4>
                            <h4 class="task">
                                <a href="#">Event Type {{events.EventType}}</a>
                            </h4>
                           

                        </div>
                    </div>
              
                </div>
               
            </div>
        </div>
    </div>
</div>