﻿@model GoodFellowWeb.Models.Posting



<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}



<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">Account Information</div>
                    <div class="card-body">
              
                        <table class="table table-responsive">

                            <tr>
                                <td>
                                    Surname
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    @ViewBag.Surname
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    First
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    @ViewBag.OtherNames
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    National ID
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    @ViewBag.NatId
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mobile
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    @ViewBag.Msisdn
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CDS Number
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    @ViewBag.CdsNumber
                                </td>
                            </tr>
                        </table>

                        


                        </div>
                </div>
            </div>
        </div>
    </div>
</div>