﻿<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }

}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
@*<script src="http://code.angularjs.org/1.2.6/angular.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/angular/app/investor.js"></script>
<div class="col-lg-6" ng-app="validationApp" ng-controller="PortfolioController">
    <div class="card">
        <div class="card-header">
            <strong>Portfolio</strong> Enquiry
        </div>
        <form name="Portfolio" ng-submit="submitForm(tblPortfolio.$valid)" novalidate>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="hf-email" class=" form-control-label">Select Security</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select class="form-control" name="security" ng-model="security">
                            <option value="Select Security">Select Security</option>
                            <option ng-repeat="option in securities" value="{{option.Issuer_code}}">{{option.Security_Description}}</option>
                        </select>
                        <span style="color:red" id="Securityerror" name="Securityerror" ng-bind="Securityerror" />

                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button ng-disabled="isDisabled" type="submit" style="background-color:white;color:black" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Post
                </button>

            </div>
            <div class="card-footer">
                <span style="color:black" id="portfolioresponse" name="portfolioresponse" ng-bind="portfolioresponse" />

            </div>
        </form>
    </div>
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal"></button>

    <button id="openModalButton2" [hidden]="true" data-toggle="modal" data-target="#myModal2"></button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>


                    <h4 class="modal-title" style="font-weight:bold;color:black">M-Akiba Online Notification !</h4>
                </div>
                <div class="modal-body" style="color:black">
                    <p> <span style="color:black" />You have successfully posted the order</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>


                    <h4 class="modal-title" style="font-weight:bold;color:black">M-Akiba Online Notification !</h4>
                </div>
                <div class="modal-body" style="color:black">
                    <p> <span style="color:black" />You have not successfully posted the order</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>
</div>