﻿@model   GwendNyadhi.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>

  
@using (Html.BeginForm(new { autocomplete = "off" }))
{ @Html.AntiForgeryToken()

    <div class="container">
        <div class="form">
            <div id="errormessage" style="color:red"></div>

            <div class="form-row">
                <div class="form-group col-md-6">

                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Client number is  mandatory", @class = "form-control", @placeholder = "07xxxxxxxx" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color:red" })
                </div>
                <div class="form-group col-md-6">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @Autocomplete = "off", @placeholder = "Pin", @type = "password", @title = "Pin is  mandatory", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red" })
                </div>
                <div class="form-group">
                    <p style="color:red"><i>@ViewBag.Attempts</i></p>

                </div>
                <div class="form-group" style="color:red">
                    <p style="color:red">

                        @Html.ValidationSummary(true)
                    </p>
                </div>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-info" style="width:150px;background-color:white;color:black;border:solid;border-width:thin">Login</button></div>
          <br/>
            <div class="text-center"><a style="color:black" href="~/Home/Register">Don`t have an account</a></div>

                

        </div>
          
    </div>
}
</section><!-- #contact -->
